.text-center{
  text-align: center;
}
.boardsContainer{
}
.hidden{
  display: none;
}
.page-wrap{
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer {
  background: lightblue;
  padding: 10px;
}


.card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../img/img.jpg') no-repeat #46B6AC;
    background-size: 100% 100%;
}
